@use '../../breakpoints' as *;
.hero {
	width: 100%;
	min-height: 60vh;
	margin-top: 10px;
	padding: 40px 120px;
	background-color: var(--background-gray);
	box-sizing: border-box;

	@include tablet {
		width: 100%;
	}
}

/*Hero Text*/
.section-head {
	margin: 0;
	color: var(--font-head);
	font-weight: 600;
	font-size: 44.55px;
	line-height: 52.9px;
	width: 457.31px;
	height: 106px;
	margin-top: 50px;
}

.hero .highlight {
	display: block;
	color: var(--green-primary);
	font-weight: 600;
	font-size: 44.55px;
	line-height: 52.9px;
}

.description {
	margin-top: 16px;
	color: var(--font-gray);
	font-weight: 400;
	font-size: 11.14px;
	line-height: 16.71px;
	width: 457.31px;
	height: 17ps;
}

/* Register Button*/

.registered {
	width: 100px;
	height: 40px;
	margin-top: 20px;
	border: none;
	border-radius: 3px;
	background-color: var(--green-primary);
	color: white;
	cursor: pointer;
}

/*Slider Dots*/

.dot {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin-top: 30px;
}

.dot img {
	width: 7px;
	height: 7px;
	object-fit: contain;
}

.dot-btn {
	border: none;
	background-color: var(--background-gray);
	cursor: pointer;
}

/* Hero Image */

.hero-image {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	margin-top: -300px;
	padding-right: 80px;
}

.hero-image img {
	width: 100%;
	max-width: 300px;
	height: 350px;
	object-fit: contain;
	margin-top: 30px;
}
