.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-top: 10px;
  color: var(--gray-head);
}

.header a {
  color: var(--gray-head);
  text-decoration: none;
  font-weight: 700;
}

.register {
  display: inline-block;
  background-color: #43a046;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  margin-right: 80px;
  margin-top: -10px;
  color: white !important;
}

.register:hover {
  background-color: #388e3c;
}

.menu-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.head {
  margin-left: 80px;
}

.head img {
  padding-right: 5px;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar li {
  list-style-type: none;
}
