.register-form {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: var(--font-head);
}

.register-form h2 {
  color: var(--font-head);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30vw;
  align-items: center;
}

fieldset legend {
  text-align: center;
  margin-bottom: 10px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.form label {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.form input {
  width: 250px;
  padding: 10px;
}

.form button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--green-primary);
  color: white;
  border: none;
  border-radius: 2.78px;
}

/*gender div*/

.gender {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gender p {
  margin: 0;
  font-weight: 600;
}

.gender label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px; /* Adjust as needed */
}

.gender input {
  margin: 0;
}
