.register-form {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: var(--font-head);
}

.register-form h2 {
  color: var(--font-head);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30vw;
  align-items: center;
}

fieldset legend {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  align-items: center;
}

.form input {
  width: 250px;
  padding: 10px;
  align-items: center;
}

.form button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--green-primary);
  color: white;
  border: none;
  border-radius: 2.78px;
}

/*gender div*/

.gender {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.gender label {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: center;
  width: fit-content;
  gap: 8px;
}

.gender input {
  margin: 0;
  order: -1;
  margin-left: 100px;
}

.gender p {
  margin-top: -42px;
}
