@import url('https://googleapis.com');

html {
	scroll-behavior: smooth;
}

:root {
	--green-primary: #4caf4f;
	--backgroung-gray: #f5f7fa;
}

body {
	font-family: 'inter', sans-serif;
	max-width: 1400px !important;
	margin: 0 auto !important;
}
